[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "billboard"]
	path = billboard
	url = https://github.com/mikkelkrogsholm/billboard
[submodule "ftDK"]
	path = ftDK
	url = https://github.com/mikkelkrogsholm/ftdk
[submodule "postlightmercury"]
	path = postlightmercury
	url = https://github.com/cran/postlightmercury
[submodule "smpic"]
	path = smpic
	url = https://github.com/mikkelkrogsholm/smpic
